<!DOCTYPE html>
<html>

<head>
    <title>BestCars</title>
    <link rel="icon" href="/imagenes/logos/favicon.ico" type="image/x-icon">
</head>

<body>
<link rel="stylesheet" href="/estilo.css">
<nav>
    <ul class="navegacion">
        <a id= "logo" class="binicio" href="/"><img src="/imagenes/logos/bestcars.png" alt="BestCars"></a>
        <li><a href="/">Home</a></li>
    </ul>
</nav>

<div>
    <h1>Bienvenido al foro de BestCars</h1>
    <p>
        ¡Hola entusiastas del motor! 🚗💨 Este es el lugar perfecto para debatir sobre los mejores coches de la historia,
        compartir opiniones y descubrir curiosidades sobre el mundo del automovilismo. 🏁
        <br><br>
        ¿Cuál es tu deportivo favorito? ¿Prefieres los clásicos o los superdeportivos modernos?
        ¡Déjanos tu comentario y únete a la conversación! 🏎️🔥
    </p>
</div>

<div id="publicidad"></div>

<footer>
    <p class="descripcion">BestCars - Un recorrido por los mejores coches de la historia, categorizados por su impacto, innovación y legado. Descubre los íconos del automovilismo en un solo lugar.</p>

    <p class="autor">Autor: Lucas Carrasco Domínguez</p>
    <p class="autor"><a href="202212445@alu.comillas.edu">202212445@alu.comillas.edu</a></p>

    <p class="derechos">© 2025 BestCars - Todos los derechos reservados</p>

    <a href="/">BestCars Home</a>

</footer>

</body>

</html>
